/* ============== Generall ============== */
body{
  background-color: lightgrey;
}

/* ============== TodoList ============== */


/* #addTodoitem{
  height: 25px;
  font-size: 15px;
}

.itemFrame{
  border: 1px solid lightgrey;
  border-radius: 30px;
  margin-top: 20px;
  height: 400px;
  overflow-y: scroll;
} */


/* .middleLineTodoitem{
  margin-top: 10px
} */
