/* ============== Generall ============== */
body{
  background-color: lightgrey;
}

/* ============== Main App ============== */
#appBody{
  margin-left: calc(50% - 175px);
  margin-top: 10%;
  width: 350px;
  background-color: white;
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
hr{
  margin-top: -28px;
  width: 50%;
}
main{

}
#pagesHeadLine{
  position: relative;
  text-align: center;
  width: 100%;
}
/* ============== Header ============== */
header span{
  margin-left: 200px;
}
#logOutBtn{
  position: relative;
  top: 21px;
  right: 60px;
  width: 70px;
}
/* ============== Login ============== */
#loginContainer, #regContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}
#errorRegContainer{
  position: relative;
  left: 11px;
}
#errorMess{
  font-size: 10px;
  color: red;
}
#regText{
  display: block;
  margin-top: -22px;
  margin-left: 117px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: -21px;
}
#inloggedUser{
  position: relative;
  top: -31px;
  right: -253px;
  font-size: 12px;
}
#logInBtn{
  position: relative;
  top: -62.5px;
  width: 70px;
  left: 281.5px;
}
/* ============== Reg ============== */

#regBtn{
  position: relative;
  top: 10px;
  right: -253px;
}

/* ============== TodoList ============== */
#todoListHead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#todoHeadline{
  margin-top: 1px
}
#addTodoitem{
  height: 25px;
  font-size: 15px;
}
#noneItem{
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: red;
  font-weight: bold;
}
.itemFrame{
  border: 1px solid lightgrey;
  border-radius: 30px;
  margin-top: 20px;
}
.itemContainer{
  margin-left: 30px;
  width: 283px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 14px;
}
.lineAddItem{
  width: 1px;
text-align: center;
}
.todoItem{
  border: none;
}
.removeTodoitem{

}
.middleLineTodoitem{
  margin-top: 10px
}
.submitListBtn{
  width: 100px;
  position: relative;
  top: 35px;
  left: calc(50% - 40px);
  text-align: center;
}
